body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}

.container{
    display: flex;
    margin-bottom: 140px;
}
section.container img{
    width: 100%;

}

section.top_banner{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
}
.my_name {
    color: orange;
}

.half_width {
    width: 50%;
    margin-left: 5%;
}

.button_link{
        text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

section.Dream_girl{
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

section.expriencess{
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position:left  ;
}
.expriencess div.half_width {
    box-shadow: 5px 7px 40px grey;
    margin-left: 5%;
    padding-left: 2%;
    border-radius: 15px;
}
#full_stack {
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
#baby_web {
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}

footer p{
    text-align: center;
}




