body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}

section.container{
    display: flex;
}
section.container img{
    width: 100%;

}

section.top_banner{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
}
span.my_name {
    color: orange;
}

.half_width {
    width: 50%;
    margin-left: 5%;
}

.button_link{
        text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}














